@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-archivo-black {
	font-family: 'Archivo Black', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji',
		'Segoe UI Emoji';
}
